a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
  color: #000;
}

.clubIcon {
  list-style: none;
  width: 270px;
  height: 200px;
}

.clubIconName {
  margin: 0px;
  display: table;
  font-size: 24px;
  height: 150px;
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 10px;
  z-index: -2;
}
.bg {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 10px;
}
.clubIconSubMenuContainer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
}

.clubIcon:hover .clubIconSubMenuContainer {
  opacity: 1;
}

.clubIconSubMenu {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.clubIconSubMenu span {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.clubIconInfo {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: solid;
  border-bottom-width: 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clubLink {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.clubLink__span {
  display: inline-block;
  color: black;
  border-radius: 10px;
}

.clubIconContainer {
  margin-top: 150px;
}

.clubIconContainerTopMenu {
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid;
  border-width: 1.5px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  width: 1600px;
  text-align: center;
  height: 30px;
}

.clubContainerName {
  font-size: 30px;
}

.clubIconList {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(5, 300px);
  row-gap: 30px;
  width: 1500px;
  align-items: center;
  justify-items: center;
}

.loadingSpinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;

  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.loadingSpinner .loadingSpinnerPath {
  stroke: #96b7e9;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

.loadingSpinner .loadingSpinnerPath2 {
  stroke: #3b4890;
  stroke-linecap: round;
  -webkit-animation: dash 1.7s ease-in-out infinite;
  animation: dash 1.7s ease-in-out infinite;
}

/* rotate circle */
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* make line with dashoffset(staring point each percent) */
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  33% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35;
  }
  66% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -78;
  }
  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  33% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35;
  }
  66% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -78;
  }
  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -124;
  }
}
