.DraftEditor-root {
  height: 600px;
}

.toolbar {
  background-color: #fafafa;
  border: #d3ddec 1px solid;
}

.editor {
  width: 920px;
  height: 700px;
  border: #d3ddec 1px solid;
  border-radius: 5px;
  overflow: auto;
  background-color: white;
  margin-bottom: 30px;
  padding-left: 10px;
}