@import 'reset.css';

/* Global Navagation Bar */

.gnbContainer {
  width: 100%;
  background-color: #3b4890;
}

.gnb {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  height: 70px;
  width: 1200px;
}

.gnbLogo {
  width: 36px;
  height: 36px;
  margin-left: 0px;
  margin-right: 10px;
}

.gnbList {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}

.gnbLink {
  margin-right: 30px;
  color: white;
  font-size: 12px;
  text-decoration-line: none;
  white-space: nowrap;
}

.gnbTitle {
  font-size: 18px;
  margin-right: 30px;
}

.gnbLogin {
  margin-left: 830px;
  margin-right: 0px;
  justify-content: flex-end;
}

.gnbSignup {
  justify-content: flex-end;
}
