.PaginationUl {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: smaller;
  font-weight: bold;
}

.PaginationLi {
  padding-top: 5px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.SelectPaginationLi {
  padding-top: 5px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.PaginationBtn {
  border: #3b4890 solid;
  background-color: #3b4890;
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
