.PostUl {
  justify-content: left;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.PostDate {
  width: 100px;
  text-align: center;
  padding-right: 10px;
  border-right: 1px solid #eeeeee;
}

.PostAuthor {
  width: 100px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #eeeeee;
}

.PostTitle {
  flex: 1;
  padding-left: 10px;
}

.PostList {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eeeeee;
}
