.postsContainer {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 10px;
}

.menuUl {
  list-style: none;
  display: flex;
  justify-content: left;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: medium;
  font-weight: bold;
}

.menuDate {
  width: 120px;
  margin-left: 10px;
  text-align: center;
}

.menuAuthor {
  width: 100px;
  text-align: center;
}

.menuTitle {
  flex: 1;
  text-align: center;
}

.postUl {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  font-size: small;
}

.postList {
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.postDate {
  width: 120px;
  text-align: center;
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #eeeeee;
}

.postAuthor {
  width: 100px;
  text-align: center;
  border-right: 1px solid #eeeeee;
}

.postTitle {
  flex: 1;
  padding-left: 15px;
}

.searchForm {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.searchInput {
  margin-top: 50px;
  padding: 5px;
  padding-left: 10px;
  width: 175px;
  height: 30px;
  text-align: left;
  border: black solid;
  outline: none;
}

.searchBtn {
  margin-top: 50px;
  cursor: pointer;
  width: 50px;
  height: 30px;
  font-weight: bolder;
  text-align: center;
  border: black solid;
  background-color: black;
  color: #ffffff;
}

.paginationUl {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: smaller;
  font-weight: bold;
}

.paginationLi {
  padding-top: 5px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.selectPaginationLi {
  padding-top: 5px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.paginationBtn {
  border: black solid;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
