.SearchForm {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.SearchInput {
  margin-top: 50px;
  padding: 5px;
  padding-left: 10px;
  width: 175px;
  height: 20px;
  text-align: left;
  border: #3b4890 solid;
  outline: none;
}

.SearchBtn {
  margin-top: 50px;
  cursor: pointer;
  width: 50px;
  font-weight: bolder;
  text-align: center;
  border: #3b4890 solid;
  background-color: #3b4890;
  color: #ffffff;
}
