.topBanner {
  position: relative;
  width: 100%;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.clubName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #072e5d;
}

.bannerImg {
  opacity: 0.4;
  display: flex;
  width: 100%;
  height: 100%;
}

.boardLogo {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bolder;
  font-style: italic;
  position: absolute;
}

.navUl {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid;
  width: 100%;
  font-size: large;
  font-weight: bolder;
}

.navLi {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 2px solid;
  cursor: pointer;
}
.navLiLast {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}

.navSelect {
  color: red;
}

.navBtn {
  position: absolute;
  margin-left: 70%;
  border: none;
  border-radius: 4px;
  text-align: center;
  background-color: black;
  height: 30px;
  width: 60px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
