* {
  box-sizing: border-box;
}

.wrapper {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 120px;
  background: #fafafa;
  border: 1px solid #d3ddec;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px 40px 0 40px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #96b7e9;
}

.img {
  width: 36px;
  height: 36px;
  background-color: aqua;
  border-radius: 50%;
  margin-bottom: 5px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mainForm {
  width: 100%;
}

.requiredContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #96b7e9;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 7px;
}

.titleBlock .requiredContent_title {
  margin-bottom: 7px;
}

.requiredLabel {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #3b4890;
}

.requiredLabel span {
  position: absolute;
  left: 10px;
}

.input {
  margin-right: 10px;
  width: 420px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d3ddec;
  border-radius: 5px;
  padding: 0 10px;
  transition: 0.6s;
}

.inputError input {
  border: 1px solid red;
}

.inputError span {
  color: red;
}

.input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #b5c9e9;
}

.resetButton {
  width: 100px;
  height: 50px;
  background: #3b4890;
  border: 1px solid #d3ddec;
  border-radius: 5px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  margin: 30px 0;
}
