.boardBanner {
  font-size: 24px;
  width: 92%;
  text-align: center;
  border-bottom: #96b7e9 1px solid;
  padding-bottom: 10px;
}

.boardTitle {
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  border: #d3ddec 1px solid;
  border-radius: 5px;
  width: 92%;
  height: 40px;
  resize: none;
  font-size: 14px;
}

.boardTitle::placeholder {
  color: #d3ddec;
}

.boardTitle:focus {
  outline: none;
}

.editorWrapper {
  width: 92%;
}

.toolbar {
  background-color: #fafafa;
  border: #d3ddec 1px solid;
}

.editor {
  height: 700px;
  border: #d3ddec 1px solid;
  border-radius: 5px;
  overflow: auto;
  background-color: white;
  margin-bottom: 30px;
  padding-left: 10px;
}
.boardBtn {
  border: none;
  background-color: #3b4890;
  color: #ffffff;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
